* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  height: 65px;
  padding-top: 5px;
  padding-left: 20px;
  mix-blend-mode: darken;
}
.head{
  background-image: linear-gradient(to right, #ffffff ,#ffffff , #244f8f);
}
.BG {
  background-image: url('Image/EWU.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  opacity: 90; 
}
.wrapper {
  width: 800px;
  
  background-color:rgba(5, 5, 5, 0.5);
  /* box-shadow: rgb(204, 204, 204) 0 0 6px; */
  border-top: 5px solid #244f8f;
  border-bottom: 5px solid #244f8f;
  border-radius: 5px;
  margin: 1.5em auto;
  clear: both;
}

.form-wrapper {
  color: whitesmoke;
  margin: 1.5em 1em;
  clear: both;
}
#course-form {
  clear: both;
}
.form-wrapper .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  gap: 1.5em;
}
.form-wrapper .col input {
  padding: 12px;
  width: 100%;
}
.form-wrapper .col select {
  padding: 12px;
}
#add-btn {
  padding: 8px;
  background: #46da8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  display: inline-block;
  margin-bottom: 1.5em;
}
.fa-plus,
.fa-times {
  color: #fff;
}
.remove-course {
  background: #e02401;
  padding: 12px;
  border: none;
  border-radius: 5px;
}
#submit-btn {
  background: #0554f2;
  padding: 8px 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0.5em;
  float: right;
  text-transform: uppercase;
}
#gp {
  font-weight: 500;
  font-family: Helvetica;
  font-size: 1.2rem;
}
footer {
  color: whitesmoke;
  background-image: linear-gradient(to right, #ffffff ,#244f8f,#244f8f,#ffffff );
  text-align: center;
  font-size: 1rem;
  font-family: Arial  Bold;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.FT{
padding-top: 5px;
}
@media (max-width: 768px) {
  .wrapper {
    width: fit-content;
    margin: 1.5em 0.5em;
  }
  .form-wrapper .col {
    gap: 0.5em;
  }
}
